.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;

  /* width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
}

.login-div {
  text-align: center;
  position: absolute;
  top: 80px;
}

.todo-div {
  /* position: absolute; */
  /* margin-top: 60px; */
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: flex-end;
  align-items: flex-end;
}

#greeting {
  font-size: 100px;
  font-weight: bolder;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

#todo-list li button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

#todo-list li span {
  /* color: azure; */
  color: black;
  font-weight: bolder;
  background-color: rgba(241, 233, 213, 0.7);
  border-radius: 5px;
}

input:focus::placeholder {
  color: transparent;
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

#weather span {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  background-color: rgba(0, 255, 255, 0.7);
  border-radius: 5px;

  /* height: inherit; */
  align-items: flex-end;
}

#weather,
#todo-list {
  display: flex;
  height: inherit;
  align-items: flex-end;
}

#todo-list {
  flex-direction: column;
  justify-content: flex-end;
}
